In [2]:
# Lab-3
import pandas as pd
import numpy as np
import matplotlib as plt
##1. Write a Pandas program to join the two given dataframes along rows and assign all data.
# Test Data
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}
# Creating dataframes
df1 = pd.DataFrame(student_data1)
df2 = pd.DataFrame(student_data2)
# Joining the dataframes along rows and assigning all data
df_combined = pd.concat([df1, df2], ignore_index=True)

print("Combined Dataframe:")
print(df_combined)

Combined Dataframe:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

In [3]:
# 2 Write a Pandas program to join the two given dataframes along columns and assign all data.
# Test Data
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

# Creating dataframes
df1 = pd.DataFrame(student_data1)
df2 = pd.DataFrame(student_data2)

# Joining the dataframes along columns and assigning all data
df_combined = pd.concat([df1, df2], axis=1)

print("Combined Dataframe:")
print(df_combined)

Combined Dataframe:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [6]:
# 3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.

import pandas as pd

# Existing DataFrame
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

df = pd.DataFrame(student_data1)

# New Row Data
new_row_data = {
    'student_id': ['S6'],
    'name': ['Scarlette Fisher'],
    'marks': [205]
}

# Convert the new row data into a DataFrame
new_row_df = pd.DataFrame(new_row_data)

# Concatenate the existing DataFrame with the new row DataFrame
df = pd.concat([df, new_row_df], ignore_index=True)

print("Combined DataFrame:")
print(df)

Combined DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [7]:
#4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
import pandas as pd

# Existing DataFrame
student_data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

df = pd.DataFrame(student_data)

# New Data (List of Dictionaries)
new_data = [
    {'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 205}
]

# Append the new data to the DataFrame
df = df.append(new_data, ignore_index=True)

print("Combined DataFrame:")
print(df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [6]:
# 5 Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
# Test Data
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

exam_data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
}

# Creating dataframes
df1 = pd.DataFrame(student_data1)
df2 = pd.DataFrame(student_data2)
exam_df = pd.DataFrame(exam_data)

# Joining dataframes df1 and df2 along rows
combined_df = pd.concat([df1, df2], ignore_index=True)

# Merging combined_df with exam_df on 'student_id'
final_df = pd.merge(combined_df, exam_df, on='student_id')

print("Final DataFrame:")
print(final_df)

Final DataFrame:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [7]:
# 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
# Test Data
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}
student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

# Creating dataframes
df1 = pd.DataFrame(student_data1)
df2 = pd.DataFrame(student_data2)
# Joining dataframes using the common column 'student_id'
merged_df = pd.merge(df1, df2, on='student_id', suffixes=('_1', '_2'))
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
  student_id       name_1  marks_1            name_2  marks_2
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [8]:
# 7.  Write a Pandas program to join the two dataframes with matching records from both sides where available.
# Test Data
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

# Creating dataframes
df1 = pd.DataFrame(student_data1)
df2 = pd.DataFrame(student_data2)

# Performing an outer join to get matching records from both sides where available
merged_df = pd.merge(df1, df2, on='student_id', how='outer', suffixes=('_1', '_2'))

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
  student_id            name_1  marks_1            name_2  marks_2
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

In [9]:
# 8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
import pandas as pd

# Test Data
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}
# Creating dataframes
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Performing a left join using keys from the left dataframe only
left_join_df = pd.merge(df1, df2, on=['key1', 'key2'], how='left')

print("Left Joined DataFrame:")
print(left_join_df)

Left Joined DataFrame:
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [10]:
#9. Write a Pandas program to join two dataframes using keys from right dataframe only.
# Test Data
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

# Creating dataframes
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Performing a right join using keys from the right dataframe only
right_join_df = pd.merge(df1, df2, on=['key1', 'key2'], how='right')

print("Right Joined DataFrame:")
print(right_join_df)

Right Joined DataFrame:
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

In [11]:
#10. Write a Pandas program to merge two given datasets using multiple join keys.
# Test Data
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

# Creating dataframes
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merging the dataframes using multiple join keys
merged_df = pd.merge(df1, df2, on=['key1', 'key2'])

print("Merged Dataframe using multiple join keys:")
print(merged_df)

Merged Dataframe using multiple join keys:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [12]:
# 11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.

# Existing series
series1 = pd.Series([10, 20, 30, 40, 50], name='A')
series2 = pd.Series([1, 2, 3, 4, 5], name='B')

# Specified column names
new_columns = ['X', 'Y']

# Creating a new DataFrame with existing series and overriding column names
new_df = pd.DataFrame({new_columns[0]: series1, new_columns[1]: series2})

print("New DataFrame with overridden column names:")
print(new_df)

# 12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
# Test Data
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

# Creating dataframes
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merging dataframes using the 'key1' and 'key2' columns
merged_df = pd.merge(df1, df2, on=['key1', 'key2'])

# Getting combinations where a column id combination appears more than once in both dataframes
duplicates = merged_df[merged_df.duplicated(subset=['key1', 'key2'], keep=False)]

print("Combinations where a column id combination appears more than once in both dataframes:")
print(duplicates)

New DataFrame with overridden column names:
    X  Y
0  10  1
1  20  2
2  30  3
3  40  4
4  50  5
Combinations where a column id combination appears more than once in both dataframes:
  key1 key2   P   Q   R   S
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [13]:
# 12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
# Test Data
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

# Creating dataframes
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merging dataframes using the 'key1' and 'key2' columns
merged_df = pd.merge(df1, df2, on=['key1', 'key2'])

# Getting combinations where a column id combination appears more than once in both dataframes
duplicates = merged_df[merged_df.duplicated(subset=['key1', 'key2'], keep=False)]

print("Combinations where a column id combination appears more than once in both dataframes:")
print(duplicates)

Combinations where a column id combination appears more than once in both dataframes:
  key1 key2   P   Q   R   S
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [14]:
# 13.Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

# Test Data
data1 = {
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}
data2 = {
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}
# Creating dataframes with potentially different indices
df1 = pd.DataFrame(data1, index=['K0', 'K1', 'K2'])
df2 = pd.DataFrame(data2, index=['K0', 'K2', 'K3'])

# Combining the columns of two potentially differently-indexed DataFrames
result_df = pd.concat([df1, df2], axis=1, sort=False)

print("Result DataFrame:")
print(result_df)

Result DataFrame:
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [15]:
# 14. Write a Pandas program to merge two given dataframes with different columns.
# Test Data
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}
# Creating dataframes
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
# Merging dataframes with different columns
merged_df = pd.merge(df1, df2, on=['key1', 'key2'])

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [16]:
#15.Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
# Test Data
data1 = {
    'A': [np.nan, 0.0, np.nan],
    'B': [3, 4, 5]
}

data2 = {
    'A': [1, 1, 3],
    'B': [3.0, np.nan, 3.0]
}
# Creating DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
# Combine DataFrames by filling null values in df1 with non-null values from df2
combined_df = df1.combine_first(df2)

print("Combined DataFrame:")
print(combined_df)

Combined DataFrame:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0